<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <behaviors>
            <serviceBehaviors>
                <behavior name="mexBehaviour">
                    <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
                    <serviceDebug includeExceptionDetailInFaults="false" />
                </behavior>
            </serviceBehaviors>
        </behaviors>
        <services>
            <service name="ProductInfo.ProductService" behaviorConfiguration="mexBehaviour">
                <endpoint address="Products" binding="basicHttpBinding" contract="ProductInfo.IProductService">
                    <identity>
                        <dns value="localhost" />
                    </identity>
                </endpoint>
              <endpoint address="Products" binding="netTcpBinding" contract="ProductInfo.IProductService">
                <identity>
                  <dns value="localhost" />
                </identity>
              </endpoint>
                <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
                <host>
                    <baseAddresses>
                      <add baseAddress="http://localhost:9080/"/>
                      <add baseAddress="net.tcp://localhost:9090/"/>
                        <!--<add baseAddress="http://localhost:8733/Design_Time_Addresses/ProductInfo/ProductService/" />-->
                    </baseAddresses>
                </host>
            </service>
        </services>
    </system.serviceModel>
</configuration>
